.micon_rff_div_icons{
    cursor: pointer;
}

.miconsRffUlLiAll a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.miconsRffUlLiAll li a:hover{
    color: rgb(0, 0, 0);
    transition: all ease-in-out 0.1s;
}

.miconsRffUlLiAll{
    padding-left: 0; /* Remove o recuo padrão, se necessário */
    display: none;
    position: absolute;
}

.miconsRffUlLiAll li{
    background-color: #0c582c;
    color: white;
    padding: 10px 15px;
    list-style-type: none; /* Remove a numeração */
    min-width: fit-content; /* Largura mínima do submenu */
    min-width: 150px;
    list-style: none;
    position: relative;
    margin: 0;
    margin-right: 5px;
    transition: all ease-in-out 0.1s;
}

.miconsRffUlLiAll li:hover{
    background-color: #b1cd49;
    color: black;
    transition: all ease-in-out 0.1s;
}


/*************** NÍVEL 1 *******************/
.n {
    display: inline-flex;
    position: relative;
}
.n li{
    margin: 0;
    border-bottom: 1px solid #cdcdcd;
    transition: all ease-in-out 0.1s;
}
.n li:hover .nn{
    display: block;
}



/*************** NÍVEL 2 *******************/
.nn {
    top: 100%; /* Aparece logo abaixo do menu pai */
    left: 0;
}
.nn li:hover .nnn{
    display: block;
}


/*************** NÍVEL 3 *******************/
.nnn {
    top: 0; /* Aparece logo abaixo do menu pai */
    left: 100%;
}
.nnn li:hover .nnnn{
    display: block;
}



/*************** NÍVEL 4 *******************/
.nnnn {
    top: 0; /* Aparece logo abaixo do menu pai */
    left: 100%;
}
.nnnn li:hover .nnnnn{
    display: block;
}



/*************** NÍVEL 5 *******************/
.nnnnn {
    top: 0; /* Aparece logo abaixo do menu pai */
    left: 100%;
}
.nnnnn li:hover .nnnnnn{
    display: block;
}



/*************** NÍVEL 6 *******************/
.nnnnnn {
    top: 0; /* Aparece logo abaixo do menu pai */
    left: 100%;
}
.nnnnnn li .nnnnnnn{
    display: none;
}
.nnnnnn li:hover .nnnnnnn{
    display: block;
}







#btCloseRffIcons {
    padding: 5px 10px;
    background-color: red;
    color: white;
    width: fit-content;
    cursor: pointer;
    float: right;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}

#btCloseRffIcons:hover{
    background-color: rgb(250, 93, 93);
    color: black;
    transition: all ease-in-out 0.3s;
}

#tableAdminCategRff tr td{
    padding: 10px;
}
